af-execution-manager >= 5.0.4
af-org-model-manager >= 5.1.4
af-process-manager >= 4.0.4
af-runtime-service >= 5.0.4
af-worklist-manager >= 6.0.4
af-licence-manager >= 3.0.4
af-process-image-renderer >= 4.0.4
af-remote-html-runtime-manager >= 5.0.4
af-simple-process-image-renderer >= 3.0.4
pre-commit  >=  2.9.2
sseclient  >=  0.0.27
